/* Heading settings white and bold */
h3 {
  color: white;
  font-weight: bold;
}
h2 {
padding-top: 1.5%;
text-align: left;
}
.container {
  background-color: #333; /* Dark background so white text shows */
}
.col-md-4{
    color: white;
}
.fixed-size {
  width: 300px;
  height: 200px;
}
/*  Setting submit for event creation colour and border of button and rounded */
.submission_button {
    background-color: #ffbfbf  !important;
    outline-color: #ffbfbf !important;
    color: black !important;
    border: none !important;
    padding-bottom: 50px;

}
/* Create re-usable pink container for text elements */
.text_pill {
    background-color: #ffbfbf  !important;
    outline-color: #ffbfbf !important;
    color: black !important;
    border-radius: 50rem;         
  padding: 1rem;                
  width: 75%;                   
  margin-left: auto;             
  margin-right: auto;
}
.border_box {
       border: #ffbfbf 3px solid;
        
    display: inline-block;
}
/* Show sold out icon and change colour when hover */
.sold_out {
 border: rgb(182, 0, 0)  1px solid!important;
     background-color: rgba(255, 70, 70, 0.514) !important;
    color: rgb(0, 0, 0) !important;
    }
.sold_out:hover{
    background-color: rgba(212, 1, 1, 0.514) !important;
}

/* Tickets available button, change colour when hover */
.availible {
    border: rgb(0, 182, 0)  1px solid!important;
    background-color: rgba(255, 255, 255, 0.514) !important;
    color: rgb(0, 0, 0) !important;
    }
.availible:hover{
    background-color: rgba(93, 255, 93, 0.514) !important;
}

/* View ticket button for purchases and change colour when hover */
.view_ticket {
    border: rgb(0, 42, 182)  1px solid!important;
    background-color: rgba(255, 255, 255, 0.514) !important;
    color: rgb(0, 0, 0) !important;
    }
.view_ticket:hover{
    background-color: rgba(96, 136, 211, 0.514) !important;
}

.sold_out {
  background-color: #ccc;
  color: #666;
  pointer-events: none;
  cursor: not-allowed;
}

.availible {
  background-color: #007bff;
  color: white;
}